<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="com.netbanking.utilities.Reporting" />
	</listeners>
	<test thread-count="1" name="Test">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<!-- <class name="com.netbanking.testCases.BaseClass"/> -->
			<class name="com.netbanking.testCases.TC_LoginTest_001" />
			<!-- <class name="com.netbanking.testCases.TC_LoginDDT_002" />-->

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->